*{
    margin: 0;
    padding: 0;
}
#background {
    background-image: url(images/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    text-transform: capitalize ;
    background-size: cover;

}

header{
padding: 9% 0 7.4% 38%;
height: 50%;
width: 62%;
box-sizing: border-box;
text-align: center;
}

header >p{
    color: white;
    font-size: 40px;
    font-weight: 20px;
}

header >img{
    padding-bottom: 4%;
}

.happy{
    height: 85px;
    width: 480px;
    background-color: lightgray;
    text-align: center;
}

.party{
    height: 85px;
    width: 480px;
    background-color: #F15A29;
    text-align: center;
}

.services{
    display: flex;
}

#second{
    display: flex;
    flex-direction: row;
}
.break{
     height: 170px;
     width: 475px;
     background-image:url(images/foodtop/breakfast.jpg);   
     background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
 }
 .lunch{
    height: 170px;
    width: 475px;
    background-image:url(images/foodtop/lunch.jpg);   
    background-size: contain;
   background-repeat: no-repeat;
   text-align: center;
 }
 .dinner{
    height: 170px;
    width: 475px;
    background-image:url(images/foodtop/dinner.jpg);   
    background-size: contain;
   background-repeat: no-repeat;
   text-align: center
 }